

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.img-medium {
	width: 60%;
	display: block;
	margin: 0 auto;
}

.centered {
	text-align: center;
}











